<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClienteWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClienteWPF.Properties.Settings>
            <setting name="ClienteWPF_ProxyWS_ServicioCurso" serializeAs="String">
                <value>http://localhost:50564/ServicioCurso.asmx</value>
            </setting>
        </ClienteWPF.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicioNormal" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50564/ServicioNormal.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioNormal"
                contract="ProxyWCFNormal.IServicioNormal" name="BasicHttpBinding_IServicioNormal" />
        </client>
    </system.serviceModel>
</configuration>