<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClienteWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClienteWPF.Properties.Settings>
            <setting name="ClienteWPF_ProxyWS_ServicioCurso" serializeAs="String">
                <value>http://localhost:50564/ServicioCurso.asmx</value>
            </setting>
        </ClienteWPF.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicioNormal" />
                <binding name="BasicHttpBinding_IServicioNormalAux" />
                <binding name="BasicHttpBinding_IServicioPorLlamada" />
                <binding name="BasicHttpBinding_IServicioSingle" />
            </basicHttpBinding>
            <ws2007HttpBinding>
                <binding name="WS2007HttpBinding_IServicioPorSesion">
                    <security mode="Message">
                        <transport clientCredentialType="Windows" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </ws2007HttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50564/ServicioNormal.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioNormal"
                contract="ProxyWCFNormal.IServicioNormal" name="BasicHttpBinding_IServicioNormal" />
            <endpoint address="http://localhost:50564/ServicioNormal.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioNormalAux"
                contract="ProxyWCFNormal.IServicioNormalAux" name="BasicHttpBinding_IServicioNormalAux" />
            <endpoint address="http://localhost:50564/ServicioPorLlamada.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioPorLlamada"
                contract="ProxyPorLlamada.IServicioPorLlamada" name="BasicHttpBinding_IServicioPorLlamada" />
            <endpoint address="http://localhost:50564/ServicioPorSesion.svc"
                binding="ws2007HttpBinding" bindingConfiguration="WS2007HttpBinding_IServicioPorSesion"
                contract="ProxyPorSesion.IServicioPorSesion" name="WS2007HttpBinding_IServicioPorSesion">
                <identity>
                    <userPrincipalName value="PUESTO\Formacion" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:50564/ServicioSingle.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioSingle"
                contract="ProxySingle.IServicioSingle" name="BasicHttpBinding_IServicioSingle" />
        </client>
    </system.serviceModel>
</configuration>