<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServicioNormal" />
        <binding name="BasicHttpBinding_IServicioNormalAux" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50564/ServicioNormal.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioNormal"
          contract="IServicioNormal" name="BasicHttpBinding_IServicioNormal" />
      <endpoint address="http://localhost:50564/ServicioNormal.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioNormalAux"
          contract="IServicioNormalAux" name="BasicHttpBinding_IServicioNormalAux" />
    </client>
  </system.serviceModel>
</configuration>